<h1>Angular Google Maps (AGM) Demo1</h1>

<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [zoomControl]="true"
(mapClick)="mapClicked($event)"> <!--Aggiungi la gestione dell'evento click sulla mappa-->

  <agm-marker *ngFor="let m of markers"
    [latitude]="m.lat" [longitude]="m.lng" [label]="m.label"  [iconUrl]="m.icon"
  >
  </agm-marker>

  <agm-data-layer [geoJson]="geoJsonObject" [style]="styleFunc">
  </agm-data-layer>
  <!--Aggiungi un cerchio alla mappa-->
  <!--nel tag agm-circle creiamo un cerchio nella mappa e abbiamo diversi parametri tra cui il raggio del cerchio,latitudine e longitudine del centro del cerchio colore e alcuni metodi
  come il cambio delle dimensioni e l'evento doppio click sul cerchio-->
  <agm-circle [latitude]="circleLat" [longitude]="circleLng"
      [radius]="radius"
      [fillColor]="'red'"
      [circleDraggable]="true"
      [editable]="true"
      (radiusChange) = circleRedim($event)
      (circleDblClick) = circleDoubleClicked($event)
      >
  </agm-circle>

</agm-map>

<form>
  <div>
    <input name="title" #foglio>
    <label for="title">Seleziona foglio</label>
  </div>
  <button (click)="cambiaFoglio(foglio)">
    enter
  </button>
</form>
